* {
  color: black;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header--container {
  background-color: #0ea5e9;
  padding: 0.5em 1em;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--title {
  color: white;
}

.title-span {
  color: black;
}

.header--container svg {
  font-size: 25px;
}
